<div style="display: flex; align-items: center;">
    <img src="../img/es_logo.png" alt="title" style="margin-right: 20px;">
    <h1>Data Analysis Using Python</h1>
</div>

### Submission Instructions

- Complete the excercises in the notebook below.
- Once you have completed the notebook, you should submit the completed notebook and any additional files you created for the assignment by uploading them to your github profile and sharing the github link as the submission.
- your github repostory should contain the required files as well as a README.md file that summarizes what you have learned in this module.

### Recommended Readings:
- Pandas : [User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)
- Concat, Merge and Join: [Documentation](https://pandas.pydata.org/docs/user_guide/merging.html)

Download the following dataset from kaggel: [Employee Salaries Analysis](https://www.kaggle.com/datasets/sahirmaharajj/employee-salaries-analysis)

Using pandas find the following:
1. The average salary of all employees
2. The Department with the highest average salary
3. The average salary of employees based on gender

In [15]:
import pandas as pd
# The average salary of all employees
data = pd.read_csv('Employee_Salaries.csv')
average_salary = data['Base_Salary'].mean()
print(f"Average salary of all employees: ${average_salary: .3f}")

# The Department with the highest average salary
# since we have two departments attribute i've created for both! 

department_name_highest_avg_salary = data.groupby('Department_Name')['Base_Salary'].mean().idxmax()
highest_avg_salary = data.groupby('Department_Name')['Base_Salary'].mean().max()
print(f"Department NAME with highest average salary: {department_name_highest_avg_salary} (${highest_avg_salary:.3f})")


department_highest_avg_salary = data.groupby('Department')['Base_Salary'].mean().idxmax()
highest_avg_salary = data.groupby('Department')['Base_Salary'].mean().max()
print(f"Department with highest average salary: {department_highest_avg_salary} (${highest_avg_salary:.3f})")
# The average salary of employees based on gender
data.head()

average_salary_gender = data.groupby('Gender')['Base_Salary'].mean()
print(f"\nAverage salary based on gender:\n{average_salary_gender}")

data.head()

Average salary of all employees: $ 90312.166
Department NAME with highest average salary: Office of Intergovernmental Relations Department ($165196.750)
Department with highest average salary: IGR ($165196.750)

Average salary based on gender:
Gender
F    87497.502790
M    92382.929752
Name: Base_Salary, dtype: float64

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
0,ABS,Alcohol Beverage Services,ABS 85 Administration,M,175873.000,0.00,0.0,M2
1,ABS,Alcohol Beverage Services,ABS 85 Administration,M,145613.360,0.00,0.0,M3
2,ABS,Alcohol Beverage Services,ABS 85 Administration,F,136970.000,0.00,0.0,M3
3,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,F,89432.694,0.00,2490.0,21
4,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,F,78947.000,456.68,6257.7,16